header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.top-grid {
    display: grid;
    grid-template-rows: 5rem 4rem;
    height: 8 rem;
    background-color: rgb(255, 157, 157);
}

.logo {
    grid-row: 1 / span 1;
    text-align: center;
}

.nav {
    grid-row: 2 / span 1;
    top: 5rem;
    position: absolute;
    right: 1rem;
}

.ul-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none
}

a {
    text-decoration: none;
}

.li-nav {
    padding-left: 1rem;
}

/* CARD */

#items {
    position: absolute;
    left: -.5rem;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
}

.title {
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
}

#home {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

#meat {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

#seafood {
    background-color: rgb(254, 235, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

#vegetables {
    background-color: rgb(255, 232, 242);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

#fruits {
    background-color: rgb(239, 255, 239);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

#cart {
    background-color: rgb(247, 246, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

#faq {
    background-color: rgb(239, 255, 239);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8rem;
}

.card {
    width: 15rem;
    height: 18rem;
    background-color: rgb(238, 238, 255);
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(193, 193, 193);
    display: grid;
    grid-template-rows: 55% 15% 15% 15%;
}

.card:hover {
    box-shadow: 0 0 15px black;
}

.picture {
    grid-row: 1;
    height: 9rem;
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture:hover {
    height: 15rem;
    width: 15rem;
    z-index: 1000;
}

.item-name {
    grid-row: 2;
}

.price {
    grid-row: 3;
}

.cart {
    grid-row: 4;
    display: grid;
}

.add-cart {
    justify-content: center;
    margin: .25rem;
    border-radius: 5px;
    background-color: rgb(254, 254, 130);
}

.add-cart:hover {
    background-color: yellow;
    font-weight: bold;
}

/* SHOPPING CART */

#cart-container {
    width: 90%;
    display: grid;
    grid-template-rows: auto;
    padding-top: 2rem;
}

.shopping-cart-list {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 4rem;
}

.mini-picture {
    grid-column: 1;
    height: 3rem;
    padding: .5rem;
}

.cart-item-name {
    grid-column: 2;
    padding-top: 1rem;
}

.cart-item-price {
    grid-column: 3;
    padding-top: 1rem;
}

.remove-from-cart {
    grid-column: 4;
    height: 2rem;
    background-color: rgb(255, 179, 179);
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 1rem;
}

.remove-from-cart:hover {
    box-shadow: 0 0 5px rgb(154, 154, 154);
    background-color: rgb(255, 101, 101);
}
